.header {
  margin: 0 auto;
  max-width: 880px;

  border: 0;
  border-bottom: 1px solid #545454;

  padding: 45px 0 41px 0;
}

@media screen and (max-width: 880px) {
  .header {
    padding: 28px 0 31px 27px;
  }
}


