.profile__button_edit {
  width: 24px;
  height: 24px;

  border-radius: 0px;

  background: url(../../../../images/controls/pen.svg) no-repeat center center;
  background-size: 10px 10px;

  vertical-align: super;
  margin-left: 18px;
}


@media screen and (max-width: 880px) {
  .profile__button_edit {
    width: 18px;
    height: 18px;

    top: 10px;
    right: -28px;

    background-size: 7px 7px;
  }
}

